{% extends "template.html" %}

{% import "utils/page_macros.html" as page_macros %}
{% import "utils/form_macros.html" as form_macros %}

{% block title %}
<title>Gerenciador de usuários</title>
{% endblock %}

{% block content %}
<div class="container">
    {{ form_macros.formdivrow_start("users_manager", col_size="6") }}
        {{ form_macros.title("Gerenciador de usuários") }}
        <div class="row my-4">
            <div class="col mx-4">
                {% if usernames|length > 0 %}
                    <ul>
                    {% for i in range(usernames|length) %}
                        <li>{{ usernames[i] }} ({{ "Administrador" if is_admin[i] else "Comum" }})</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <span>Não há usuários cadastrados.</span>
                {% endif %}
            </div>
        </div>
        {{ form_macros.br() }}
        {{ form_macros.form_start("form", "add_user") }}

            {{ form_macros.subtitle("Cadastro de usuário") }}
            {{ form_macros.input("Nome completo", id="name", name="name", type="text") }}
            {{ form_macros.input("Nome de usuário", id="username", name="username", type="text") }}
            {{ form_macros.input("E-mail", id="email", name="email", type="email") }}
            {{ form_macros.input("Telefone", id="phone", name="phone", type="text", extra_params="maxlength=14") }}
            {{ form_macros.select({"Comum" : 0, "Administrador" : 1}, "Selecionar permissão", id="is_admin", name="is_admin") }}
            {{ form_macros.input("Senha de acesso", id="password", name="password", type="text") }}
            {{ form_macros.input("Confirmar senha", id="confirm_password", name="confirm_password", type="text") }}

            {{ form_macros.br() }}

            {{ form_macros.text("Cartão de crédito") }}
            {{ form_macros.input("Número de cartão de crédito", id="card_num_card", name="card_num_card", type="text", extra_params="maxlength=16") }}
            {{ form_macros.input("Nome do titular", id="card_name_owner", name="card_name_owner", type="text") }}
            {{ form_macros.input("CVV", id="card_cvv", name="card_cvv", type="text", extra_params="maxlength=3") }}
            {{ form_macros.input("Data de validade", id="card_expire_date", name="card_expire_date", type="month") }}

            {{ form_macros.button(label='Cadastrar usuário') }}

            {{ form_macros.br() }}

        {{ form_macros.form_end() }}
    {{ form_macros.formdivrow_end() }}
    <div class="row my-5 justify-content-center">
        <div class="col-md-auto">
            <button type="button" class="btn btn-primary" onclick="goTo('/payment/payment_manager')">Gerenciador de meios de pagamentos</button>
        </div>
    </div>
    {{ page_macros.page_endlabel("Voltar ao início", "/", is_link=true) }}
</div>
{% endblock %}
