{% extends "template.html" %}

{% import "utils/macros.html" as macros %}

{% block title %}
<title>Gerenciador de usuários</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5 justify-content-center">
        <div class="col-6">
            <div id="users_manager" class="container forms shadow-sm p-3 bg-white border border-secondary rounded">
                <div class="row my-4">
                    <div class="col mx-4">
                        <h3>Gerenciador de usuários</h3>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col mx-4">
                        {% if usernames|length > 0 %}
                            <ul>
                            {% for i in range(usernames|length) %}
                                <li>{{ usernames[i] }} ({{ "Administrador" if is_admin[i] else "Comum" }})</li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <span>Não há usuários cadastrados.</span>
                        {% endif %}
                    </div>
                </div>
                <div class="row my-4"></div>
                <form id="form" action="add_user" method="POST" class="mb-0 justify-content-center">
                    <div class="row my-4">
                        <div class="col mx-4">
                            <h5>Cadastro de usuário</h5>
                        </div>
                    </div>
                    <div class="row my-3">
                        {{ macros.input("Nome completo", id="name", name="name", type="text") }}
                    </div>
                    <div class="row my-3">
                        {{ macros.input("Nome de usuário", id="username", name="username", type="text") }}
                    </div>
                    <div class="row my-3">
                        {{ macros.input("E-mail", id="email", name="email", type="email") }}
                    </div>
                    <div class="row my-3">
                        {{ macros.input("Telefone", id="phone", name="phone", type="text", extra_params="maxlength=14") }}
                    </div>
                    <div class="row my-3">
                        {{ macros.select({"Comum" : 0, "Administrador" : 1}, "Selecionar permissão", id="is_admin", name="is_admin") }}
                    </div>
                    <div class="row my-3">
                        {{ macros.input("Senha de acesso", id="password", name="password", type="text") }}
                    </div>
                    <div class="row my-3">
                        {{ macros.input("Confirmar senha", id="confirm_password", name="confirm_password", type="text") }}
                    </div>
                    <div class="row my-4"></div>
                    <div class="row my-4">
                        <div class="col mx-4">
                            <h6>Cartão de crédito</h6>
                        </div>
                    </div>
                    <div class="row my-3">
                        {{ macros.input("Número de cartão de crédito", id="card_num_card", name="card_num_card", type="text",
                        extra_params="maxlength=16") }}
                    </div>
                    <div class="row my-3">
                        {{ macros.input("Nome do titular", id="card_name_owner", name="card_name_owner", type="text") }}
                    </div>
                    <div class="row my-3">
                        {{ macros.input("CVV", id="card_cvv", name="card_cvv", type="text", extra_params="maxlength=3") }}
                    </div>
                    <div class="row my-3">
                        {{ macros.input("Data de validade", id="card_expire_date", name="card_expire_date", type="month") }}
                    </div>
                    <div class="row my-4 mb-0">
                        <div class="col mx-4 d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary">Cadastrar usuário</button>
                        </div>
                    </div>
                    <div class="my-4"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="row my-5 justify-content-center">
        <div class="col-md-auto">
            <button type="button" class="btn btn-primary" onclick="goTo('/payment/payment_manager')">Gerenciador de meios de pagamentos</button>
        </div>
    </div>
    <div class="row my-5 justify-content-center">
        <div class="col-md-auto">
            <span><a href="/">Voltar ao início</a></span>
        </div>
    </div>
</div>
<form id="form_username" method="POST" hidden>
    <input id="username_verifier" name="username_verifier" type="hidden">
</form>
{% endblock %}
