{% extends "template.html" %}

{% block title %}
<title>Gerenciador de usuários</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5 justify-content-center">
        <div class="col-md-auto">
            <div id="users_manager" class="container forms shadow-sm p-3 bg-white border border-secondary rounded">
                <div class="row my-4">
                    <div class="col mx-4">
                        <h3>Gerenciador de usuários</h3>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col mx-4">
                        {% if usernames|length > 0 %}
                            <ul>
                            {% for i in range(usernames|length) %}
                                <li>{{ usernames[i] }} ({{ "Administrador" if is_admin[i] else "Comum" }})</li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            <span>Não há usuários cadastrados.</span>
                        {% endif %}
                    </div>
                </div>
                <form id="form" action="add_user" method="POST" class="mb-0 justify-content-center">
                    <div class="row my-3">
                        <div class="col mx-4">
                            <label for="username" class="form-label">Nome de usuário</label>
                            <input type="text" id="username" name="username" class="form-control">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col mx-4">
                            <label for="password" class="form-label">Senha de acesso</label>
                            <input type="password" id="password" name="password" class="form-control">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col mx-4">
                            <label for="password" class="form-label">Confirmar senha de acesso</label>
                            <input type="password" id="confirm_password" class="form-control">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col mx-4">
                            <label for="is_admin" class="form-label">Selecionar permissão</label>
                            <select id="is_admin" name="is_admin" class="form-control">
                                <option value="" selected disabled></option>
                                <option value="0">Comum</option>
                                <option value="1">Administrador</option>
                            </select>
                        </div>
                    </div>
                    <div class="row my-4 mb-0">
                        <div class="col mx-4 d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary">Cadastrar usuário</button>
                        </div>
                    </div>
                    <div class="my-4"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="row my-5 justify-content-center">
        <div class="col-md-auto">
            <button type="button" class="btn btn-primary" onclick="goTo('/payment/payment_manager')">Gerenciador de meios de pagamentos</button>
        </div>
    </div>
    <div class="row my-5 justify-content-center">
        <div class="col-md-auto">
            <span><a href="/">Voltar ao início</a></span>
        </div>
    </div>
</div>
<form id="form_username" method="POST" hidden>
    <input id="username_verifier" name="username_verifier" type="hidden">
</form>
{% endblock %}
