{% extends "template.html" %}

{% block head %}
<script defer>
    async function submitLogin() {
        if (document.getElementById("username").value != "" && document.getElementById("password").value != "") {
            var dataForm = new FormData(document.getElementById("form"));

            response = await fetch("login", {
                method: "POST",
                body: dataForm
            });

            window.location.href = await response.text();
        } else {
            console.log("Valores inválidos.")
        }
    }
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mb-5 justify-content-center">
        <div class="col-md-auto">
            <div id="auth" class="container forms shadow-sm p-3 bg-white border border-secondary rounded">
                <form id="form" method="POST" class="mx-6 mb-0 justify-content-center">
                    <div class="row my-4">
                        <div class="col mx-4">
                            <h3>Login</h3>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col mx-4">
                            <label for="username" class="form-label">Nome de usuário</label>
                            <input type="text" id="username" name="username" class="form-control">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col mx-4">
                            <label for="password" class="form-label">Senha de acesso</label>
                            <input type="password" id="password" name="password" class="form-control">
                        </div>
                    </div>
                    <div class="row my-4 justify-content-center">
                        <div>
                            <div class="col mx-4">
                                <button type="button" class="btn btn-primary" style="width: 150px;" onclick="submitLogin()">Entrar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-auto">
            <span><a href="/">Voltar ao início</a></span>
        </div>
    </div>
</div>
{% endblock %}
