{% extends "template.html" %}

{% import "utils/page_macros.html" as page_macros %}
{% import "utils/form_macros.html" as form_macros %}

{% block title %}
<title>Pagamentos</title>
{% endblock %}

{% block content %}
<div class="container">
    {{ page_macros.flash_verifier() }}

    {{ form_macros.formdivrow_start("payment", col_size="8") }}

        {{ form_macros.title("Pagamentos") }}
        
        {{ page_macros.table(
            ["Valor", "Ano/Mês", "Status", "Data do pagamento"],
            payments_info
        ) }}

        {{ form_macros.br() }}

    {{ form_macros.formdivrow_end() }}

    {{ page_macros.endbutton("Cadastrar pagamento", "goTo('/payment/register_payment')") }}

    {{ page_macros.endlabel("Voltar ao início", "/", is_link=true) }}
</div>
{% endblock %}
