{% extends "template.html" %}

{% block title %}
<title>Gerenciador de meios de pagamentos</title>
{% endblock %}

{% block head %}
<style>
    .del {
        cursor: pointer;
        user-select: none;
        color: red;
    }
</style>

<script defer>
    async function deleteCard(cardId) {
        document.getElementById("id_card_del").value = cardId

        response = await fetch("del_card", {
            method: "POST",
            body: new FormData(document.getElementById("form_id_card_del"))
        });

        window.location.href = await response.text();
    }
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row my-5 justify-content-center">
        <div class="col-md-auto">
            <div id="payment_manager" class="container forms shadow-sm p-3 bg-white border border-secondary rounded">
                <div class="row my-4">
                    <div class="col mx-4">
                        <h3>Gerenciador de meios de pagamentos</h3>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col mx-4">
                        {% if cards|length > 0 %}
                            <ul>
                            {% for k, v in cards|items %}
                                {% for card in v %}
                                    <li><span class="del" onclick="deleteCard('{{ card[0] }}')">X</span> | Usuário: {{ k }}; Nome do titular: {{ card[1] }}, ID do cartão: {{ card[2] }}, Data de vencimento: {{ card[3] }}, CVV: {{ card[4] }}</li>
                                {% endfor %}
                            {% endfor %}
                            </ul>
                        {% else %}
                            <span>Não há pagamentos cadastrados.</span>
                        {% endif %}
                    </div>
                </div>
                <form id="form" action="add_card" method="POST" class="mb-0 justify-content-center">
                    <div class="row my-3">
                        <div class="col mx-4">
                            <label for="username" class="form-label">Nome de usuário</label>
                            <select id="username" name="username" class="form-control">
                                <option value="" selected disabled></option>
                                {% for username in usernames  %}
                                <option value="{{ username }}">{{ username }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col mx-4">
                            <label for="name_card" class="form-label">Nome do titular</label>
                            <input type="text" id="name_card" name="name_card" class="form-control">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col mx-4">
                            <label for="id_card" class="form-label">ID do cartão</label>
                            <input type="text" id="id_card" name="id_card" class="form-control" maxlength="16" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');">
                        </div>
                    </div>
                    <div class="row my-3">
                        <div class="col mx-4">
                            <div class="row">
                                <div class="col-6">
                                    <label for="exp_date" class="form-label">Data de vencimento</label>
                                    <input type="month" id="exp_date" name="exp_date" class="form-control">
                                </div>
                                <div class="col-2"></div>
                                <div class="col-4">
                                    <label for="cvv" class="form-label">CVV</label>
                                    <input type="text" id="cvv" name="cvv" class="form-control" maxlength="3">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row my-4 mb-0">
                        <div class="col mx-4 d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary">Cadastrar cartão de crédito</button>
                        </div>
                    </div>
                    <div class="my-4"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="row my-5 justify-content-center">
        <div class="col-md-auto">
            <button type="button" class="btn btn-primary" onclick="goTo('/auth/users_manager')">Gerenciador de usuários</button>
        </div>
    </div>
    <div class="row my-5 justify-content-center">
        <div class="col-md-auto">
            <span><a href="/">Voltar ao início</a></span>
        </div>
    </div>
</div>
<form id="form_id_card_del" method="POST" hidden>
    <input id="id_card_del" name="id_card_del" type="hidden">
</form>
{% endblock %}
