{% extends "template.html" %}

  <head>
    {%block content %}
    <html>
      <head>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
    
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
              ['horas', 'sensor_1', 'sensor_2'],
              ['12h',  1000,      400],
              ['14h',  1170,      460],
              ['16h',  660,       1120],
              ['18h',  1030,      540]
            ]);
    
            var options = {
              title: 'Variação de umidade',
              curveType: 'function',
              legend: { position: 'bottom' }
            };
    
            var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
    
            chart.draw(data, options);
          }
        </script>
      </head>
      <body>
        <div id="curve_chart" style="width: 900px; height: 500px"></div>
      </body>
    </html>
    
    
  {%endblock content%}
</html>