<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
            <a href="/"><img src="../static/img/planta_t.png" alt="" class="img-fluid"></a>
        </div>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">Home</a></li>
                <li><a class="nav-link scrollto" href="/plants">Plantas</a></li>
                <li><a class="nav-link scrollto" href="/sensors">Sensores</a></li>
                <li><a class="nav-link scrollto" href="/payment">Pagamento</a></li>
                <li><a class="nav-link scrollto" href="/auth">Login</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
    </div>
</header>
