{% extends "template.html" %}

{% import "utils/page_macros.html" as page_macros %}
{% import "utils/form_macros.html" as form_macros %}

{% block title %}
<title>Criar Sensor</title>
{% endblock %}

{% block content %}
<div class="container">
    {{ page_macros.flash_verifier() }}

    {{ form_macros.formdivrow_start("register_sensor", "6") }}

        {{ form_macros.form_start("form", "add_sensor") }}

            {{ form_macros.title("Inserir Sensor") }}
            {{ form_macros.other_input("Nome do Sensor", id="name", name="name", type="text") }}
            {{ form_macros.other_input("Modelo", id="model", name="model", type="text") }}
            {{ form_macros.other_input("Marca", id="brand", name="brand", type="text") }}
            {{ form_macros.other_input("Unidade", id="measure", name="measure", type="text") }}
            {{ form_macros.other_input("Tensao", id="voltage", name="voltage", type="text") }}
            {{ form_macros.button(label='Criar') }}

        {{ form_macros.form_end() }}

    {{ form_macros.formdivrow_end() }}

    {{ page_macros.endlabel("Voltar ao início", "/", is_link=true) }}
</div>
{% endblock %}
