{% extends "template.html" %}

{% block title %}
<title>Seus Sensores</title>
{% endblock %}

{% block content %}

<div class="d-block">
    <h2>Listagem dos Sensores Ativos de {{ (user.username).capitalize() }}</h2>
    <ul>
        {% if sensores|length > 0 %}
            {% for sensor in sensores %}
                <li>{{ sensor.name }}</li>
            {% endfor %}
        {% else %}
            <p> Ainda não há sensores registrados </p>
        {% endif %}
    </ul>
    <br>
    <span><a href="create_sensor">Inserir sensor</a></span> <br>
    <span><a href="sensors_select">Verificar os registros</a></span> <br>
</div
{% endblock content %}