{% extends "template.html" %}

{% block title %}
<title>Seus Sensores</title>
{% endblock %}

{% block content %}

<div class="d-block">
    <h2>Listagem de sensores</h2>
    <ul>
        {% if saved_sensors|length > 0 %}
            {% for sensor in saved_sensors %}
                <li>{{ sensor }}</li>
            {% endfor %}
        {% else %}
            <p> Ainda não há sensores registrados </p>
        {% endif %}
    </ul>
    <br>
    <span><a href="sensors_select">Verificar os registros</a></span> <br>
</div
{% endblock content %}