
{% extends "template.html" %}

{% block title %}
<title>Cadastrar planta</title>
{% endblock %}

{% block content %}
<div class="d-block">
    <h2>Cadastrar planta</h2>
    <form action = "save_plant" method = "POST">
        <div>
            <label for="nome_planta" class="form-label">Nome da planta</label>
            <input type="text" id="name_plant" name="name_plant" class="form-control">
        </div>
        <div>   
            <label for="sensor" class="form-label">Selecione o sensor</label>
            <select id="sensor" name="sensor" class="form-control">
                <option value="" selected disabled></option>
                {% for sensor in sensors %}
                    <option value="{{ sensor.id_sensor }}">{{ sensor.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="umidade" class="form-label">Umidade mínima</label>
            <input type="text" id="min_humidity" name="min_humidity" class="form-control">
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>

{% endblock content %}
