{% extends "template.html" %}

{% block title %}
<title>Cadastrar planta</title>
{% endblock %}

{% block content %}
<div class="d-block">
    <h2>Cadastrar planta</h2>
    <form action = "save_plant" method = "POST">
        <p><input type="text" id="nome_planta" name = "nome_planta" placeholder="Nome da planta"></p>
        <p><input type="text" id="sensor" name = "sensor" placeholder="Sensor utilizado"></p>
        <p><input type="text" id="umidade" name = "umidade" placeholder="Umidade minima"></p>
        <button type="submit">Enviar</button>
    </form>
</div>
{% endblock content %}
