{% extends "template.html" %}

{% block title %}
<title>Listagem das plantas</title>
{% endblock %}

{% block content %}
<div>
    <div>
        <p><a href="register_plant">Cadastrar planta</a></p>
    </div>
    <h2>Listagem das plantas</h2>
    <div id="cards">
        {% if plants|length > 0 %}
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                {% for plant in plants %}
                <div class="col mb-4">
                    <div class="card card-default">
                        <div class="card-body">
                            <p class="card-text"><a href="{{ url_for('plants.plants_update_plants', id_plant=plant.id_plant) }}">Update</a></p>
                            <h5 class="card-title">{{ plant.name }}</h5>
                            <p class="card-text">Sensor: {{ plant.name_sensor }} ({{ plant.id_sensor }})</p>
                            <p class="card-text">Umidade: {{ plant.min_humidity }}</p>
                            <form action="{{ url_for('plants.plants_delete_plant', id_plant=plant.id_plant) }}" method="POST">
                                <input type="hidden" name="method" value="DELETE">
                                <button type="submit" class="btn btn-danger">Excluir</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p> Ainda não há plantas registradas </p>
        {% endif %}
    </div>
</div>
{% endblock content %}
