{% macro input(label='', placeholder='', id='', name='', type='text', extra_params="", box_size=12, has_box_size=false) %}
    {% if not has_box_size %}
    <div class="col mx-4">
    {% else %}
    <div class="col-{{ box_size }} mx-4">
    {% endif %}
        <label for="{{ id }}" class="form-label">{{ label }}</label>
        <input placeholder="{{ placeholder }}" type="{{ type }}" class="form-control" id="{{ id }}" name="{{ name }}" {{ extra_params }}>
    </div>
{% endmacro %}

{% macro select(options, label='', placeholder='', id='', name='', box_size=12, has_box_size=false) %}
    {% if not has_box_size %}
    <div class="col mx-4">
    {% else %}
    <div class="col-{{ box_size }} mx-4">
    {% endif %}
        <label for="{{ id }}" class="form-label">{{ label }}</label>
        <select id="{{ id }}" name="{{ name }}" class="form-control">
            <option value="{{ placeholder }}" selected disabled></option>
            {% for k, v in options|items %}
            <option value="{{ v }}">{{ k }}</option>
            {% endfor %}
        </select>
    </div>
{% endmacro%}

{% macro checkbox(label='', id='', name='', box_size=12, has_box_size=false, is_checked=false) %}
    {% if not has_box_size %}
    <div class="col mx-4 pl-5">
    {% else %}
    <div class="col-{{ box_size }} mx-4 pl-5">
    {% endif %}
        <input type="checkbox" class="form-check-input" id="{{ id }}" name="{{ name }}" {{ "checked" if is_checked else ""
            }}>
        <label for="{{ id }}" class="form-check-label">{{ label }}</label>
    </div>
{% endmacro %}

{% macro textarea(label='', placeholder='', id='', name='', rows=10, cols=30, box_size=12, has_box_size=false) %}
    {% if not has_box_size %}
    <div class="col mx-4 pl-5">
    {% else %}
    <div class="col-{{ box_size }} mx-4 pl-5">
    {% endif %}
        <label for="{{ id }}" class="form-label">{{ label }}</label>
        <textarea class="form-control" placeholder="{{ placeholder }}" id="{{ id }}" name="{{ name }}" rows="{{ rows }}"
            cols="{{ cols }}"></textarea>
    </div>
{% endmacro %}
